body{
    margin: 0;
    padding: 0;
    background-color: azure;
}

.header-menu{
    background-color: black;
    padding: 20px;
    display: flex;
    justify-content: space-between
}

.header-menu a{
    text-decoration: none;
    color: azure;
    font-weight: 900;
    font-size: larger;
}

input{
    width: 348px;
}

.header-menu2{
    width: 250px;
    text-align: left;
    display: flex;
    justify-content: space-around;
}

.login-form{
    width: 50%;
}

.form{
    background-color: white;
    display: flex;
    justify-content: space-around;
}

.login-form h1{
    color: black;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    margin: 40px 0;
}

.login-form p{
    font-size: 16px;
    margin: 15px 0;
}

.login-form input{
    font-size: 16px;
    padding: 15px 10px;
    width: 100%;
    border: 0;
    border-radius: 0;
    outline: auto;
}

.login-form button{
    color: white;
    font-size: 18px;
    width: 100%;
    border: 0;
    border-radius: 5px;
    background-color: black;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.footer {
    background-color: black ;
}

.footer-item h4 {
    display: inline-block;
    margin-bottom: 10px;
    color: azure;
}

.wrapper-footer {
    width: 90%;
    margin: 0 auto ;
    padding: 30px;
    display: flex;
    
    justify-content: space-around;
}

.footer-content a{
    display: block;
    margin-top: 15px;
    text-decoration: none;
    color: azure;
}